In [1]:
import pandas as pd

C:\Users\elias\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\elias\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:61: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
df1 = pd.read_csv(r"C:\Users\elias\Desktop\HIRB\Liege\Data Management\archive\links.csv")
df1

9125

In [3]:
df2 = pd.read_csv(r"C:\Users\elias\Desktop\HIRB\Liege\Data Management\archive\credits.csv")
df2

45476

In [4]:
#Merge df1 and df2 
merged_df = pd.merge(
    df1, 
    df2, 
    left_on='movieId', 
    right_on='id', 
    how='left' 
)
merged_df

In [6]:
df3 = pd.read_csv(r"C:\Users\elias\Desktop\HIRB\Liege\Data Management\archive\ratings.csv")
df3

In [7]:
df4 = pd.read_csv(r"C:\Users\elias\Desktop\HIRB\Liege\Data Management\archive\movies_metadata.csv")
df4

45466

C:\Users\elias\AppData\Local\Temp\ipykernel_20428\955170608.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df4 = pd.read_csv(r"C:\Users\elias\Desktop\HIRB\Liege\Data Management\archive\movies_metadata.csv")

In [8]:
df4['imdb_id'].isnull().sum()

17

In [9]:
df4['id'] = pd.to_numeric(df4['id'], errors='coerce')

# tt0101704
# tt0358146
# tt0065908
# tt0818098
# tt0176311
# tt1762399
# tt2701582
# tt1325753
# tt0119501
# tt0105298
# tt0493101
# tt13139218
# tt6618142
# tt1147516
# tt0491603
# tt4699464
# tt6051554

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
8966,False,NaN,1000000,"[{'id': 80, 'name': 'Crime'}]",NaN,36337.0,NaN,en,Delusion,"In this fast-paced, noirish road movie, a comp...",...,1991-06-07,0.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,She only wanted love. But money's better than ...,Delusion,False,4.8,3.0
13757,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",NaN,200796.0,NaN,pl,Show,NaN,...,2003-03-19,0.0,NaN,[],Released,NaN,Show,False,6.3,2.0
13821,False,"{'id': 75014, 'name': 'How I Unleashed World W...",0,"[{'id': 10769, 'name': 'Foreign'}, {'id': 28, ...",NaN,75015.0,NaN,pl,Jak rozpętałem drugą wojnę światową: Cz.3 - Wś...,How I Unleashed World War II tells the story o...,...,1970-04-06,0.0,73.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,NaN,How I Unleashed World War II Part III: Among F...,False,7.0,3.0
17382,False,NaN,2500000,"[{'id': 9648, 'name': 'Mystery'}, {'id': 53, '...",http://www.delawarepictures.net/dreamkiller/,36663.0,NaN,en,Dreamkiller,"A team of doctors experiment with a new, highl...",...,NaN,0.0,110.0,[],Released,Fear is the greatest killer.,Dreamkiller,False,5.0,1.0
17510,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,47116.0,NaN,en,Víťaz,Tou former boxers meet in the ring again after...,...,1979-03-09,0.0,78.0,[],Rumored,NaN,The Winner,False,0.0,0.0
18959,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}, {'id': 16,...",NaN,28500.0,NaN,en,Before The Dinosaurs - Walking With Monsters,Many people think of the dinosaurs as the firs...,...,2005-11-05,0.0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Before The Dinosaurs - Walking With Monsters,False,7.3,12.0
19322,False,NaN,0,[],NaN,118013.0,NaN,en,Endeavour,Shaun Evans (The Take) steps into John Thaw's ...,...,NaN,0.0,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Rookie detective Endeavor Morse faces his firs...,Endeavour,False,6.6,19.0
20806,False,NaN,0,"[{'id': 16, 'name': 'Animation'}, {'id': 28, '...",NaN,15257.0,NaN,en,Hulk vs. Wolverine,Department H sends in Wolverine to track down ...,...,2009-01-27,0.0,38.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Hulk vs. Wolverine,False,6.8,48.0
20937,False,NaN,0,"[{'id': 37, 'name': 'Western'}, {'id': 28, 'na...",NaN,55576.0,NaN,en,Last Stand at Saber River,"As America recovers from the Civil War, one ma...",...,1997-01-19,0.0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Last Stand at Saber River,False,3.7,3.0
21916,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",NaN,293412.0,NaN,en,Running Wild,Jennifer Barker plays a troubled woman who has...,...,1995-01-01,0.0,0.0,[],Released,NaN,Running Wild,False,10.0,1.0
22987,False,NaN,0,[],NaN,45514.0,NaN,en,8,8 shorts centered around 8 themes directed by ...,...,2008-10-23,0.0,100.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Rumored,NaN,8,False,0.0,0.0
23744,False,"{'id': 246207, 'name': 'Gunbuster Collection',...",0,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",NaN,30146.0,NaN,ja,トップをねらえ！＆トップをねらえ２！合体劇場版!!,This double feature comprises of Gunbuster and...,...,2006-10-01,0.0,180.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,Gunbuster vs Diebuster Aim for the Top! The GA...,False,6.5,5.0
33753,False,NaN,0,[],NaN,324017.0,NaN,en,The Master,"In 19th-century China, during the infamous Qin...",...,2017-01-01,0.0,109.0,[],Released,NaN,The Master,False,0.0,0.0
36955,False,NaN,0,[],NaN,161535.0,NaN,en,Doraemon:貓狗時空傳,"One day, Nobita finds a stray dog drowning in ...",...,2004-03-06,0.0,0.0,[],Released,NaN,Doraemon:貓狗時空傳,False,0.0,0.0
40809,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",NaN,65256.0,NaN,en,H2O Just Add Water - The Movie,When three normal teenage girls stumble upon a...,...,2011-10-10,0.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Do you believe in mermaids?,H2O Just Add Water - The Movie,False,6.4,37.0
41832,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,430514.0,NaN,fr,Le passe-muraille,NaN,...,2016-12-16,0.0,NaN,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Le passe-muraille,False,0.0,0.0
45070,False,NaN,0,[],NaN,439314.0,NaN,en,The Garden of Afflictions 2017,Brazilian philosopher Olavo de Carvalho's thin...,...,NaN,0.0,0.0,[],Released,NaN,The Garden of Afflictions 2017,False,0.0,0.0

Impute imdb ID for the missing rows there are only 17 rows to impute

In [10]:
correct_imdb_ids = [
    'tt0101704', 'tt0358146', 'tt0065908', 'tt0818098', 'tt0176311',
    'tt1762399', 'tt2701582', 'tt1325753', 'tt0119501', 'tt0105298',
    'tt0493101', 'tt13139218', 'tt6618142', 'tt1147516', 'tt0491603',
    'tt4699464', 'tt6051554'
]
missing_mask = df4['imdb_id'].isnull()
missing_indices = df4[missing_mask].index
new_ids_series = pd.Series(correct_imdb_ids, index=missing_indices)

df4['imdb_id'].fillna(new_ids_series, inplace=True)

C:\Users\elias\AppData\Local\Temp\ipykernel_20428\2115610915.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df4['imdb_id'].fillna(new_ids_series, inplace=True)

In [ ]:
merged_df['full_imdbid'] = 'tt0' + merged_df['imdbId'].astype(str)

final_merged_df = pd.merge(
    merged_df,
    df4,
    left_on='full_imdbid',
    right_on='imdb_id',
    how='inner'
)
final_merged_df

In [15]:
final_merged_df.to_csv(r'C:\Users\elias\Downloads\Data Management\final.csv', index=False)